.preview-img-container {
    .label-upload {
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    .preview-img{
        height: 80px;
        width: 100%;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
        border: 1px solid #ddd;
    }
}
